---
import projects from "../data/projects.json";
---

<article
  class="container max-w-screen-lg mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 place-items-stretch justify-items-stretch gap-2 relative"
>
  {
    projects.map((project) => (
      <a
        href={project.link}
        target="_blank"
        class="group relative flex flex-col justify-between text-slate-950 shadow-xl rounded-lg min-h-full overflow-hidden"
      >
        <div class="relative">
          <img
            src={project.image}
            alt={project.title}
            class="rounded-t-lg transition-all duration-700"
          />
          <div class="absolute inset-0 bg-black opacity-0 group-hover:opacity-20 transition-opacity duration-700" />
        </div>
        <div class="p-3 flex flex-col justify-between flex-grow bg-slate-100 rounded-b-lg">
					<span class="font-semibold text-orange-500">{project.category}</span>
          <h3 class="group-hover:text-slate-600 text-xl font-bold text-balance transition-all duration-700">
            {project.title}
          </h3>
          <p class="text-balance">{project.description}</p>
        </div>
        <div class="absolute inset-0 bg-inherit group-hover:filter group-hover:blur-[15px] group-hover:contrast-200 transition-all duration-700 z-[-1]" />
      </a>
    ))
  }
</article>
